<app-header></app-header>

<body>
  <header id="page-header">
    <div class="container mt-5">
      <div class="row">
        <div class="m-auto text-center" id="header">
          <h1 class="display-4">A new way of shopping</h1>
        </div>
      </div>
    </div>
  </header>

  <section id="about" class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="container mt-5 mb-5">
            <h3>About us</h3>
            <p>Iyokus is a technology and e-commerce startup founded in the United Kingdom in 2019.
              <br>
              <br>
              We are a small team but with big objectives and guided by the belief that we all deserve to enjoy the best we have available at an affordable price for each of us. We are committed to create the <b>most efficient</b> marketplace for both buyer and seller.
              <br>
              <br>
              At Iyokus we want to change the way we shop starting by changing how retailers and manufacturers price their products.
              <b>Prices are often not efficiently set.</b> Retailers and manufacturers tend to set prices based on market researches or surveys combined with past experience and other factors such as strategy and costs. However, these often lead to pricing inefficiencies, either to high, thus damaging potential sales, or too low, thus reducing profits. More importantly, the traditional fixed pricing method is over static and hardly ever adjust fast enough over time to be truly efficient and matches consumers' needs and willingness to pay.
              <br>
              <br>
              Iyokus' main goal is to find a solution for these pricing inefficiencies.
            </p>
          </div>

          <div class="container mt-5 mb-5">
            <h3>What do we offer?</h3>
            <p>
              To put it simply, we offer a platform that helps to connect sellers and buyers at the best willing price for both parties. And how do we achieve that? <b>Easy, by asking our buyers how much they are willing to pay.</b>
              <br>
              <br>
              We deploy the only viable system that allow buyers to bid for the price they are willing to pay and receive feedback or counter-offer instantaneously. Our mission is to build a platform where buyers pay only what they are willing to pay while helping sellers to optimise their prices so that their products can reach the maximum number of willing buyers.
              <br>
              <br>
              Buy and sell with Iyokus is fast, easy and secure. Find out more about our services in the following
              links:
              <br>
              <a routerLink="/info/getstarted">How to buy</a>
              <br>
              <a routerLink="/info/getstarted-Business">How to sell</a>
            </p>
          </div>

          <div class="container mt-5 mb-5">
            <h3>What is our main objective?</h3>
            <p>
              We live in a world full of wonderful things that we can not always afford. Part of these is, unfortunately, unavoidable. However, we can reduce the unavoidable if we can make things <b>individually affordable</b> without harming the interests of those producing or selling these.
              <br>
              <br>
              <i><b>Our aspiration is to make e-commerce a more efficient and exciting place where all involved benefit.</b></i>
            </p>

          </div>

        </div>
        <div class="col-md-6">
          <div class="portrait">
            <img id="side-pic" src="https://s3.eu-west-3.amazonaws.com/woolime/assets/AboutUs_Side.jpeg" alt="iyokus.es"
              class=" d-none d-md-block">
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

<app-footer></app-footer>