<app-header></app-header>

<div class="container mt-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-collapse">
            <!--
            <ul class="navbar-nav">
                <small>
                    <b>Brands</b>
                    <select type="text" class="form-control form-control-sm" [(ngModel)]="brand" name="brand" (change)="onChangeBrandFilter()">
                        <option selected value="0">All</option>
                        <option *ngFor="let brand of brands" attr.value="{{brand}}">{{brand}}</option>
                    </select>
                </small>
            </ul>
            -->
            <ul class="navbar-nav ml-auto">
                <small>
                    <b>Order by</b>
                    <select type="text" class="form-control form-control-sm" [(ngModel)]="sortLogic" name="sortLogic"
                        (change)="onChangeSort()">
                        <option selected value="1">Relevance</option>
                        <option value="2">Lowest Price</option>
                        <option value="3">Highest Price</option>
                        <!--
                        <option value="4">Most Reviewed</option>
                        <option value="5">Highest Reviewed</option>
                        <option value="6">Newest First</option>
                        <option value="7">Oldest First</option>
                        -->
                    </select>
                </small>
            </ul>
            <ul class="navbar-nav ml-auto">
                <small>
                    <b>Item per Page</b>
                    <select type="text" class="form-control form-control-sm" [(ngModel)]="rowsOnPage">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </small>
            </ul>
        </div>
    </nav>
</div>

<div class="container">
    <div class="row">
        <div class="container py-3">
            <h2>{{searchTerms}}</h2>
            <h4 *ngIf="genderSearch == 0 || genderSearch == 1">{{searchGenderTerm}}</h4>
            <h2 class="text-center mt-5 mb-5" style="font-style: italic;" *ngIf="products?.length ===0">We're sorry, looks like there aren't any products in this category yet.</h2>
            <div class="card mt-3" *ngFor="let product of products | paginate: { itemsPerPage: rowsOnPage, currentPage: p }">
                <div class="row">

                    <div class="col-md-3">

                        <div class="container Wcenter p-2">
                            <a [routerLink]="['/product', productNameToUrl(product.name), product._id]" target="_blank" class="thumbnail">
                                <img class="card-img-top p-2" [src]=product.image_Main alt="Card image cap">
                            </a>
                        </div>

                    </div>

                    <div class="col-md-9 px-2 mt-3">
                        <div class="card-block px-3">
                            <h6 class="card-title mb-0">
                                <a class="card-text" [routerLink]="['/product', productNameToUrl(product.name),product._id]" target="_blank" style="color: #0066c0;">{{product?.name}}</a>
                            </h6>
                            <span *ngIf="product?.isInternational == false" class="a-size-small a-color-secondary"><!--{{product?.brand}}--><i class="fa fa-location-arrow"></i>{{product?.location}}</span>
                            <span *ngIf="product?.isInternational == true" class="a-size-small a-color-secondary"><!--{{product?.brand}}--><i class="fa fa-location-arrow"></i>International</span>


                            <ng-template #tipAddFavourite>Add to favourites</ng-template>

                            <a *ngIf="!checkIfFavourite(product?._id) && authService.userRole() === 'user'" href="javascript:void(0);"
                                (click)="onClickAddFaourite(product)">
                                <i class="fa fa-heart-o pull-right" id="heart" aria-hidden="true" style="font-size: 23px;"
                                    placement="right" [ngbTooltip]="tipAddFavourite"></i>
                            </a>

                            <ng-template #tipRemoveFavourite>Remove from favourites</ng-template>

                            <a *ngIf="checkIfFavourite(product?._id) && authService.userRole() === 'user'" href="javascript:void(0);"
                                (click)="onClickRemoveFavourite(product._id)">
                                <i class="fa fa-heart pull-right" id="diheart" aria-hidden="true" style="font-size: 23px;"
                                    placement="right" [ngbTooltip]="tipRemoveFavourite"></i>
                            </a>
                            <br>
                            <div class="mt-1">
                                <button id="icon-button" *ngIf="product?.type === 0" type="button" class="btn btn-outline-primary">Used</button>
                                <button id="icon-button" *ngIf="product?.type === 1" type="button" class="btn btn-outline-info">New</button>
                                <img *ngIf="product?.deliveryMethod === 0 || product?.deliveryMethod === 2" id="icon"
                                    src="https://s3.eu-west-3.amazonaws.com/woolime/assets/Logo_Product_MeetingDelivery.png"
                                    alt="iyokus.es">
                                <img *ngIf="product?.deliveryMethod === 1 || product?.deliveryMethod === 2" id="icon"
                                    src="https://s3.eu-west-3.amazonaws.com/woolime/assets/Logo_Product_PostDelivery.png"
                                    alt="iyokus.es">
                            </div>


                            <hr>
                            <div class="row">
                                <div class="col-md-4 px-3">
                                    <span class="a-size-small a-color-secondary">Buy Now for:</span>
                                    <h6 class="card-text">{{product?.listed_price | currency: 'GBP': number }}
                                        <span *ngIf="product?.deliveryMethod === 1" class="a-size-small a-color-secondary">+
                                            Delivery cost</span>
                                    </h6>
                                    <span class="a-size-small a-color-secondary">Or  bid for less</span>
                                    <ng-template #tipContent>If product has a lock-out period of
                                        {{product?.locked_period}} day(s) if your bid fails</ng-template>
                                    <i class="fa fa-info-circle" id="info" aria-hidden="true" placement="right"
                                        [ngbTooltip]="tipContent"></i>
                                    <br>
                                </div>
                                <div *ngIf="soldOut(product?.quantity)" class="col-md-8">
                                    <div>
                                        <img src="https://s3.eu-west-3.amazonaws.com/woolime/home/icon/sold-out.png"
                                            class="img-fluid" alt="Responsive image" style="width: 7cm; height: 4cm;">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-3 text-center">
    <pagination-controls (pageChange)="p = $event"
                         previousLabel=""
                         nextLabel="" 
                         (click)="goTop()">
    </pagination-controls>
</div>

<app-footer></app-footer>