<app-header></app-header>


<div class="content">
  <div class="container mt-5">
    <div class="header">

      <h1 class="page-main_title text-success">Conditions of Sale</h1>
      <h2 class="page-main_title text-success">www.iyokus.com</h2>
    </div>
  </div>

  <!-- Informacion General -->
  <div class="container">

    <section id="generalInformation">
      <h2 class="page-subtitle">1. GENERAL INFORMATION</h2>
      <p>
        The ownership of this website, www.iyokus.com, (hereinafter Website) is held by: Iyokus LTD
      </p>

      <p class="mb-3 mt-3">
        <br>
        <b>Contact email:</b> <a href="mailto:Client@iyokus.com">Client@iyokus.com</a>
      </p>

      <p>
        This document (as well as all other documents mentioned here) regulates the conditions under which governs the use of this Website (www.iyokus.com) and the purchase or acquisition of products and / or services in the same (hereinafter, Conditions).
        For the purposes of these Conditions it is understood that the activity that Iyokus develops through the Website includes: Sale of the following category of products:
        <br>
        Electronics, Household items, Fashion, Sports, Events and Others.
               </p>
        
               <p>
        In addition to reading these Conditions, before accessing, browsing and / or using this website, the User has of having read the Legal Notice and the General Conditions of Use, including, the cookies policy, and the Privacy and data protection policy of Iyokus. By using this Website or making and / or request the acquisition of a product and / or service through it the User agrees to be linked by these Conditions and by all the aforementioned, so if you do not agree with all this, you must not use this Website.
      </p>
      <p>Also, it is informed that these Conditions could be modified. The User is responsible for consult them each time you access, browse and / or use the Website, as the applied conditions are valid at the moment in which the acquisition of products and / or services is requested.
      </p>
      <p>
      For all questions that the User may have in relation to the Conditions, it may be in contact with the owner using the contact information provided above or, where appropriate, using the contact form.
      </p>
    </section>


    <!-- El Usuario -->
    <section id="userInformation">
      <h2 class="page-subtitle">2. THE USER</h2>
      <p>
        The access, navigation and use of the Website confers the condition of user (hereinafter referred to, indistinctly, individually as User or jointly as Users), for which all the Conditions here established are accepted, since the navigation of the Website begins, as well as their subsequent modifications, without prejudice to the application of the corresponding mandatory legal regulations  according to the case.
      </p>


      <p>
        The User assumes responsibility for the correct use of the Website. This responsibility will extend to:
                 <li>
                   Make use of this Website solely for inquiries and purchases of legally valid items.
                 </li>
                 <li>
                   Do not make any false or fraudulent purchase. If it could reasonably be considered that a purchase of this nature was made by a User, it could be canceled and the relevant authorities informed.
                 </li>
                 <li>
                   Provide truthful and lawful contact data, for example, email address, postal address and / or other information (see Legal Notice and General Conditions of Use).
        </li>
        <br>
      </p>


      <p>
        The User declares to be over 18 years of age and have the legal capacity to enter into contracts through this Website. <br> <br>
        
      The Website is aimed primarily at Users residing in UK. Iyokus does not ensure that the Website complies with the laws of other countries, either in whole or in part. Iyokus declines any liability that may arise from said access, nor does it assure shipments or provision of services outside of UK.
                
        <br><br>
        The User may formalize, at his option, with Iyokus the contract for the sale of the products and / or desired services in any of the languages in which these Conditions are available on this Website.
      </p>
    </section>

    <!-- PROCESO DE COMPRA O ADQUISICIÓN -->
    <section id="salesandacquisition">
      <h2 class="page-subtitle">3. PURCHASE PROCESS </h2>
      <p>
        The duly registered Users can buy on the Website by the means and established forms. You must follow the online purchase and / or acquisition procedure of www.iyokus.com,
       <br> <br>
       Likewise, the User must fill out and / or verify the information that is requested in each step during the purchase or registration process.
       <br> <br>
      Next, the User will receive an email confirming that Iyokus has received their order or request for purchase and / or provision of the service, that is, the order confirmation. And, in your case, you will be informed, also, by email when your purchase is being sent. This information is also made available to the User through their personal space of connection to the Website. The seller will receive a verification code from the buyer. The seller will enter the code into its profile to confirm the sale. Once the sale is confirmed, Iyokus will proceed to the payment within 5 days.
        <br><br>

        Once the purchase procedure has been completed, the User consents the Website to generate an electronic invoice that will be sent to the User via email.  Likewise, the User can, if he so wishes, obtain a copy of his paper invoice, requesting it from Iyokus using the contact spaces of the Website or through the contact information facilitated above.
        <br><br>
        The User acknowledges to be aware, at the time of purchase, of certain particular conditions of  sale that concern the product and / or service in question and that are displayed next to the presentation or, where appropriate, image of it on your page  of the Website, indicating, by way of example, but not exhaustive, and depending on each case: name, price, components, weight,  quantity, color, details of the products, or characteristics, way in which they will be shipped out; and recognizes that the realization of the purchase order or acquisition materializes the full and complete acceptance of the particular conditions of sales applicable to each case.



        <br><br>
        Unless otherwise expressly stated, Iyokus is not the manufacturer of the products sold or could reach be commercialized on the Website. Although Iyokus makes great efforts so that the information shown in  the Website is correct, Sometimes the packaging and / or the materials and / or the components of the products may contain information additional or different from the one appears on the Website. Therefore, the User must not only consider the information provided by the Website, but also the information available on the labeling, warnings and / or instructions accompany the product.

        <br><br>

        Communications, purchase orders and payments that intervene during transactions made on the Website could be archived  and kept in the computerized registers of Iyokus in order to constitute a means of proof of the transactions, in any case, respecting the reasonable security conditions and the laws and regulations in force that in this respect are of application, and  particularly in accordance with Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016, relative to the protection of natural persons with regard to the processing of personal data and to the free circulation of this data (RGPD) and to the rights that assist Users in accordance with the privacy policy of this Website.
        <br><br>
        Iyokus makes available to the users of the platform an internal instant messaging service by  which buyer and seller can exchange information in order to facilitate transactions. Iyokus recommends the user not to give any data of  private character more than those necessary for the service to be performed.
        
        Iyokus reserves the right to access such conversations in case there is any  dispute between buyer and seller in order to be able to resolve the conflict.  Iyokus will erase those conversations after two months since the transaction was confirmed.
      </p>
    </section>

    <!-- Disponibilidad -->
    <section id="disponibility">
      <h2 class="page-subtitle">4. AVAILABILITY</h2>
      <p>
        All purchase orders received by Iyokus through the Website are subject to the availability of  the products and / or that none circumstance or cause of force majeure (clause nine of these Conditions) affects the supply thereof  and / or to the provision of services. If there were difficulties in the supply of products or there were no products left in stock, Iyokus is committed to contact the User and reimburse any amount that may have been paid. This will be equally applicable in cases in which the rendering of a service becomes unrealizable.
      </p>
    </section>

    <!-- PRECIOS Y PAGO -->
    <section id="priceandpayment">
      <h2 class="page-subtitle">5. PRICES AND PAYMENT</h2>

      <p>
        The prices displayed on the Website are the final prices and in £.
      <br> <br>
    In the case for which the product is sent, the shipping costs are included in the end price as displayed on the Website before proceeding to payment. Thus, Iyokus does not perform delivery and / or shipping services, as these are  processed by the sellers. In no case will the Website add additional costs to the price of a  product or service automatically, but only those that the User has selected and chosen  voluntarily and freely.  Prices may change at any time, but possible changes will not affect to orders or purchases with respect to which the User has already received an order confirmation.
        <br><br>
  The means of payment accepted will be: Credit or debit card.
         <br> <br>
 Iyokus uses all means to ensure the confidentiality and security of payment data transmitted by the User during transactions through the Website. As such, the Website uses a secure SSL payment system (Secure Socket Layer). Credit cards are subject to checks and authorizations by the bank provider of the same, if such entity does not authorize the payment, Iyokus will not be responsible for any delay or non-delivery and will not may formalize any contract with the User.
        <br><br>
        Once Iyokus receives the purchase order from the User through the Website, a pre-authorization on the card appropriate to ensure that there are sufficient funds to complete the transaction. The charge in the card will be made when the confirmation of the purchase is sent to the User.
        
        In any case, by clicking on process the payment the User confirms that the payment method used is his own payment method.

        <br><br>
        In addition, Iyokus will keep the transaction money until the buyer receives the product and the seller confirm the sale through a 6-digit verification code that will be introduced  in the Iyokus profile. If the product has been delivered via postal shipping, the product will be considered automatically as delivered within 7 days in case the buyer do not confirm the sale to the seller and have not reported any problem with the shipment and/ or item received.
      </p>
    </section>

    <!-- ENTREGA-->

    <section id="delivery">
      <h2 class="page-subtitle">6. DELIVERY</h2>
      <p>
        In those cases in which the physical delivery of the contracted goods is carried out, deliveries will be made in the scope of the following territory: UK.
                 <br> <br>
       Except in those cases in which there are unforeseen or extraordinary circumstances or, where appropriate,  derived from the personalization of the products, the purchase order consisting of the related products in each purchase confirmation will be delivered within the term indicated on the Website according to the shipping method selected by the User and, in any case, within a maximum period of 30 calendar days from the date of order confirmation.
        <br><br>
        If for any reason, which was attributable, the seller could not meet the delivery date, the User should contact Iyokus to inform of this circumstance and he may choose to proceed with the purchase, establishing a new delivery date, or cancel the order with the full refund of the price paid. In any case, home deliveries are made on weekdays unless agreed with seller.
                 <br> <br>If it is impossible to carry out the delivery of the order due to the absence of the buyer, the order could be returned. However, depending on the shipping company used, this should leave a notice explaining where to find the order and how to make it delivered again. <br> If the Buyer is not going to be at the place of delivery in the agreed time slot, you must contact with the Seller to arrange delivery another day.
        <br><br>
        In the event that 30 days have passed since your order was available for delivery, and it has not been delivered for reasons not attributable to him, Iyokus will understand that the product has been sent and will proceed to pay the product to the Seller.
        <br> <br>
        For the purposes of these Conditions, it will be understood that the delivery has taken place or that the order has been delivered at the moment in which the User or a third party indicated by the User acquires material possession of the products, which will be credited by signing the order receipt at the delivery address agreed and the delivery of the 6-digit confirmation to the Seller.
        <br><br>
        The risks that the products could derive will be borne by the User from the moment of his  delivery. The User acquires ownership of the products at the time of delivery.
       <br> <br>
       <strong>For international deliveries</strong> please allow 3 to 6 weeks to receive the goods. Each product page indicates an expected delivery time as well as if the seller offers a free delivery service. <strong>For international deliveries, tracking information may not be available if the user chooses the free delivery option.</strong> 
       <br><br>
       If the order is not delivered after 60 days, please contact us to request a refund.
       <br> <br>
       
        
       
      </p>
    </section>

    <!-- MEDIOS TÉCNICOS PARA CORREGIR ERRORES-->
    <section id="errorfixing">
      <h2 class="page-subtitle">7. TECHNICAL MEANS TO CORRECT ERRORS</h2>
      <p>
        The User is informed that in the event that he detects that an error has occurred when entering data necessary to process your purchase request on the Website, you can modify them by entering into contact with Iyokus through the contact spaces enabled on the Website, and, where appropriate, through of those authorized to contact the customer service, and / or using the data of contact provided in the first clause (General information). Also, this information could be corrected, in some cases, by the User through his personal space of connection to the Website.
        <br> <br>
        Likewise, the User is referred to consult the Legal Notice and General Conditions of Use and, specifically,  Privacy Policy to gather more information on how to exercise your right to rectification as established in Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016,  concerning the protection of natural persons with regard to the processing of personal data and the free circulation of this data (RGPD).
      </p>

    </section>

    <!-- DEVOLUCIONES-->
    <section id="return">
      <h2 class="page-subtitle">8. RETURNS</h2>

      <p>
        In cases where the User purchases products on or through the owner's Website, they are assisted by a series of rights, as listed and described below:
    <br> <br>
     <strong> Right of Withdrawal </strong>
    <br> <br>
     The User, as a consumer and user, makes a purchase on the Website and, therefore, is assisted by the right to withdraw from said purchase within a period of 14 calendar days without the need for justification for new products.
      <br> <br>
     This withdrawal period will expire 14 calendar days from the date the User or a third party authorized by this, other than the carrier, acquired the material possession of the goods acquired in the Website of Iyokus or in case the goods that make up your order are delivered separately, within 14 calendar days  of the day that the User or a third party authorized by it, other than the carrier, acquired possession material of the last of those goods that made up the same purchase order, or in the case of a  service contract, 14 calendar days from the date of conclusion of the contract.

        <br><br>
        To exercise this right of withdrawal, the User must notify his decision to Iyokus. You can do it, in  your case, through the contact forms enabled on the Website or through an email to <a href="mailto:Client@iyokus.com"> Client@iyokus.com </a>.
                <br> <br>
       The User, regardless of the means he chooses to communicate his decision, must express in a clear and  unequivocal that it is his intention to desist from the purchase contract. In any case, the User may use the form of withdrawal form that Iyokus places at your disposal as an attached party to these Conditions,  however, its use is not mandatory.
                <br> <br>
      In case of withdrawal, Iyokus will reimburse the User for all payments received, except the expenses of shipping and commissions of transaction due to payment by card without any undue delay and, in any case, no later than 19 calendar days from the date on which Iyokus is informed of the decision to desist by the user.
        <br><br>
        <b> In summary, in case of reimbursement, the buyer assumes the shipping costs (both the expenses incurred to send the item and the return of the item to the seller) and the transaction fees due to payment with cards. </b>
                   <br> <br>
        Iyokus will reimburse the User using the same method of payment that he used to make the initial purchase. This refund will not generate any additional cost to the User. However, Iyokus could  retain said reimbursement until the Vendor receives the products or items of the purchase, or until the  User submits a proof of the return of the same, depending on which condition is met first. <br>
        The User must return without undue delay and, in any case, no later than within 14 calendar days from the date on which Iyokus was informed of the decision of withdrawal.
        <br><br>
        The User acknowledges that there are exceptions to the right of withdrawal, as set out in the applicable laws. So enunciative, and not exhaustive, this would be the case of: personalized products; products that can deteriorate or expire quickly; Music or video CDs / DVDs without their packaging, as sealed in factory; products that for health or hygiene reasons are sealed and have been unsealed after delivery.
        <br><br>
        In this same sense, the provision of a service that the User may contract on this Website is governed, will not provide to the Users when the benefit of withdrawal if the service has been fully executed, or when it has begun, with the express consent of the  consumer and user and with recognition on their part that they are aware that, once the contract  has been completely executed by Iyokus, it will have lost its right of withdrawal.
        <br> <br>  In any case, no refund will be made if the product has been used beyond the mere opening thereof,  of products that are not in the same conditions in which they were delivered or that have suffered any damage after delivery
        <br>
        <br>
        Likewise, the products must be returned using or including all their original packaging, the instructions and other documents that accompany them, in addition to a copy of the purchase invoice.
                 <br>
                 <br>
        In the following link you can download the Model withdrawal form: <a href = 
        
        ""
                   target = "_ blank"> Currently not Available  </a>
        <br> <br>
        <strong> Return of defective products or shipping error: </strong>
        <br> <br> It deals with all those cases in which the User considers that, at the time of delivery, the product does not conform to the stipulations of the contract or purchase order, and therefore, you must contact with Iyokus immediately and let him know the existing disagreement (defect / error) by the same means or using the contact information provided in the previous section (Right of Withdrawal).
                  <br> <br> The User will then be informed on how to proceed with the return of the products, and these, once returned, will be examined and the User will be informed, within a reasonable time, if the refund or, where appropriate, the replacement will be applicable.
                  <br> The refund or replacement of the product will be made as soon as possible and, in any case, within 19 days days following the date on which we send you an email confirming that the refund or the replacement of the non-conforming article. <br> In all cases, you will always be subject to the rights recognized in the current legislation at all times as consumer and user.
        <br><br>
        <strong> Guarantees: </strong>
                  <br> <br> The User, as a consumer and user, enjoys guarantees about the products that he may acquire through this Website, in the terms legally established for each type of product.
                  <br> <br>  In this sense, it is understood that the products are in accordance with the contract provided that: they comply with the description made by sellers on Iyokus.com and possess the qualities presented on it; be fit for the uses to which products of the same type are ordinarily destined; and present the quality and usual benefits of a product of the same type and that are fundamentally expected from it. When this is not the case with respect to the products delivered to the User, this must proceed as indicated in the section Return of defective products or error in the shipment. However, some of the products that are commercialized on the Website, they may present nonhomogeneous characteristics as long as these
          derive from the type of material with which they were manufactured, and that therefore will be part of the appearance of individual products, and they will not be a defect.
        <br><br>
        On the other hand, when the User acquires a product of a brand or of manufacturing by a third party. In this case, and considering the User that it is a defective product, this also has the possibility of contacting the brand or manufacturer responsible for the product to find out how  exercise their right to legal guarantee directly against them during the two years following the  delivery of said products. For this, the User must have kept all the information in relation to the product warranty.
      </p>

    </section>

    <!-- EXONERACIÓN DE RESPONSABILIDAD-->
    <section id="responsibilities">
      <h2 class="page-subtitle">9. RESIGNATION OF LIABILITY</h2>
      <p>
        Unless otherwise provided by law, Iyokus will not accept any liability for the following losses, regardless of their origin:
                <br> <br>
                <li>
                  Any losses that were attributable to a breach of this conditions or of the law by you;
                </li>
                <li>
                  Business losses (including loss of earnings, income, contracts, anticipated savings, data loss, loss of goodwill or unnecessary expenses incurred); or of
        
                </li>
                <li>
                  Any other indirect loss that was not reasonably foreseeable by both parties at the time when the formalized the contract of sale of the products between both parties.
        
                </li>
                <br>
                <br>
        Likewise, Iyokus also limits its responsibility in the following cases:
                <br>
                <br>
                <li>
                  Iyokus applies all measures concerning to provide a faithful display of the product on the Website, however, is not responsible for the minimum differences or inaccuracies that may exist due to lack of resolution of the screen, or browser problems that are used or others of this nature.
                </li>
                <li>
                  Iyokus is not responsible for damages resulting from a malfunction of the transport of the merchandise, especially for causes such as strikes, road retentions, and in general any other of the sector, resulting in delays, losses or theft of the product.
                </li>
                <li>
                  Technical failures that due to fortuitous causes or of other nature, prevent a normal operation of the service  through the internet. Lack of availability of the Website for maintenance or other reasons, which prevents  have the service. Iyokus puts all the means at its disposal in order to carry out the process of purchase, payment and shipping / delivery of the products, nevertheless is exempt from liability for causes that do not are imputable, fortuitous event or force majeure.
                </li>
                <li>
        Iyokus will not be responsible for the misuse and / or wear of products that have been used by the User. At the same time, Iyokus will not be responsible for an erroneous return made by the User. It is the responsibility of the User to return the correct product.
                </li>
                <br>
                <br>
        In general, Iyokus will not be responsible for any breach or delay in the compliance with any of the assumed obligations, when the same is due to events that are outside of their reasonable control, that is, that they are due to force majeure, and this may include, Enunciative but not exhaustive:
                <br>
                <br>
                <li>
                  Strikes, lockouts or other industrial action.
                </li>
                <li>
                  Civil commotion, revolt, invasion, threat or terrorist attack, war (declared or not) or threat or preparations for war.
                </li>
                <li>
                  Fire, explosion, storm, flood, earthquake, subsidence, epidemic or any other disaster natural.
                </li>
                <li>
                  Impossibility of the use of trains, boats, airplanes, transport of motor or other means of transport, public or private.
                </li>
                <li>
                  Inability to use public or private telecommunication systems.
                </li>
                <li>
                  Acts, decrees, legislation, regulations or restrictions of any government or public authority.
                </li>
                <br>
        In this way, the obligations will be suspended during the period in which the cause of force majeure continue, and Iyokus will have an extension in the deadline to meet them for a period of time equal to the duration of the force majeure. Iyokus will put all reasonable means to find a solution that allows him to fulfill his obligations despite the cause of force majeure.
      </p>
    </section>

    <!-- COMUNICACIONES POR ESCRITO Y NOTIFICACIONES-->
    <section id="notification">
      <h2 class="page-subtitle">10. WRITTEN COMMUNICATIONS AND NOTIFICATIONS</h2>
      <p>
        By using this Website, the User accepts that most of the communications with Iyokus are electronic (e-mail or notices published on the Website).
                <br> <br>
        For contractual purposes, the User consents to use this electronic means of communication and recognizes that all contracts, notifications, information and other communications that Iyokus sends electronically comply with the legal requirements to be in writing. This condition will not affect the rights recognized by law to the User.
                <br> <br>
        The User can send notifications and / or communicate with Iyokus through the contact information in these Conditions are provided and, where appropriate, through the contact spaces of the Website.
                <br> <br>
        Likewise, unless otherwise stipulated, Iyokus can contact and / or notify the User in his electronic mail or in the postal address provided.
      </p>
    </section>



    <!-- REN£UNCIA-->
    <section id="resignation">
      <h2 class="page-subtitle">11. RESIGNATION</h2>
      <p>
        No waiver of Iyokus to a specific right or legal action or lack of requirement by Iyokus of the strict compliance by the User of any of its obligations will imply, nor a waiver of other rights or actions derived from a contract or from the Conditions, nor exonerate the User from compliance with its obligations.
                 <br> <br>
        No waiver of Iyokus to any of these Conditions or to the rights or actions derived from a contract shall take effect, unless it is expressly established that it is a waiver and is formalized and communicate to the User in writing.
      </p>
    </section>



    <!-- NULIDAD-->
    <section id="nullity">
      <h2 class="page-subtitle">12. REVOCATION</h2>
      <p>
        If any of these Conditions were declared null and void by a final decision issued by competent authority, the rest of the clauses will remain in force, without being affected by said declaration of nullity.
      </p>
    </section>

    <!-- ACUERDO COMPLETO-->
    <section id="completion">
      <h2 class="page-subtitle">13. COMPLETE AGREEMENT</h2>
      <p>
        These Conditions and any document to which express reference is made in these constitute the  entire agreement between the User and Iyokus in relation to the object of purchase and replace any another agreement, agreement or previous promise agreed verbally or in writing by the same parties.
                 <br> <br>
      The User and Iyokus acknowledge having consented to the conclusion of a contract without having trusted any statement or promise made by the other party, except that which is expressly mentioned in the present Conditions.
      </p>
    </section>

    <!-- PROTECCIÓN DE DATOS-->
    <section id="dataprotection">
      <h2 class="page-subtitle">14. DATA PROTECTION</h2>
      <p>
        The information or personal data that the User provides to Iyokus in the course of a transaction in the Website, will be treated in accordance with the provisions of the Privacy or Data Protection Policy (contained, if applicable, in the Legal Notice and General Conditions of Use). When accessing, browsing and / or using the Website the User consents to the processing of said information and data and declares that all the information or  the data you provide are true.
      </p>
    </section>

    <!-- LEGISLACIÓN APLICABLE Y JURISDICCIÓN-->
    <section id="legal">
      <h2 class="page-subtitle">15. APPLICABLE LEGISLATION AND JURISDICTION</h2>
      <p>
        The access, navigation and / or use of this Website and the contracts to purchase products through it are governed by UK legislation. <br> <br>
        Any controversy, problem or disagreement that arises or is related to access, navigation and / or use of the Website, or with the interpretation and execution of these Conditions, or with the sales contracts between Iyokus and the User will be subject to the non-exclusive jurisdiction of the UK courts and tribunals.
      </p>
    </section>

    <!-- QUEJAS Y RECLAMACIONES-->
    <section id="complaints">
      <h2 class="page-subtitle">16. COMPLAINTS</h2>
      <p>
        The User can send to Iyokus their complaints, claims or any other comment they wish to make to through the contact information provided at the beginning of these Conditions (General Information).
                <br> <br>
        In addition, Iyokus has official complaint forms available to consumers and users, and that they can request Iyokus at any time, using the contact information provided to the principle of these Conditions (General Information).
                <br> <br>
        Likewise, if a controversy emanates from the conclusion of this purchase contract between Iyokus and the User, the User as a consumer may request an out-of-court settlement of disputes, in accordance with the Regulation (EU) 524/2013 of the European Parliament and of the Council, of May 21, 2013, on resolution of litigation on consumer matters and amending Regulation (EC) 2006/2004 and Directive 2009/22 / CE. You can access this method through the following website: http://ec.europa.eu/consumers/odr
      </p>
    </section>

    <!-- CANCELACION DE CUENTA-->
    <section id="cancellation">
      <h2 class="page-subtitle">17. ACCOUNT CANCELLATION</h2>
      <p>
        Iyokus reserves the right to delete the user's account without any prior notification.
      </p>
    </section>


    <!-- OTROS-->
    <section id="others">
      <h2 class="page-subtitle">18. OTHER INFORMATION OF INTEREST ON IYOKUS</h2>
      <p>
        <a routerLink="/legal/useprivacy">Legal Notice and General Conditions of Use.</a>
      </p>
    </section>

    <section style="margin-top: 50px;">
      <small>Last Update: 11th March  2019</small>
    </section>
  </div>
</div>


<app-footer></app-footer>