<app-header></app-header>

<section id="career-head-section">
  <div class="container">
    <div class="row">
      <div class="col text-center py-5">
        <h1 class="display-4">Change the way we shop. Together.</h1>
        <p class="lead">Iyokus is not discount site. It is a place where buyers can express their willingness to pay
          and be heard. We want to revolutionize the way people buy starting from how sellers price. <b id="statement">We
            envision a world where pricing is individually efficient and optimize such that seller can lower prices enough to
            maximize number of willing buyers without sacrificing profit.</b></p>
      </div>
    </div>
  </div>
</section>

<!-- SPLITTER 1 -->
<section id="splitter" class="p-5">
  <div class="dark-overlay">
  </div>
</section>
<!-- SPLITTER 1   -->

<section id="open-positions-section">
  <div class="container">
    <div class="row">
      <div class="col py-5">
        <h4>OPEN POSITIONS</h4>
        <p class="lead">We do not have currently any open positions. However, we are always keen to hear from
          motivated individuals with excellent engineering or sales background.
          <br>
          If you think you can help us to achieve our <a [routerLink]="['//misc/aboutus']">missions</a> or help Iyokus to become better, please write us a short introduction email to <a href="mailto:admin@iyokus.com">admin@iyokus.com</a> and we will be in touch if your profile matches the criteria we are looing for.
        </p>
      </div>
    </div>
  </div>
</section>


<app-footer></app-footer>