.large-margin-bottom{
  margin-bottom: 3cm;
}

label{
  font-weight: 500;
}

#payment-card{
  background-color: #f8f9fd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 400px;
}