<app-header></app-header>

<div class="page-background">
  <div class="container">
    <div class="card card-body col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <form #userForm="ngForm">
        <div class="mb-3">
          <h3 class="mb-0">User Sign In</h3>
          <small>Don't have an account? Register <a routerLink="/signup">here</a></small>
          <!--<small>For sellers sign in <a routerLink="/seller-login">here</a></small>-->
        </div>

        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" [(ngModel)]="email" name="email" #userEmail="ngModel" [ngClass]="{'is-invalid' : userEmail.errors && userEmail.touched}"
            required pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
          <div [hidden]="!userEmail.errors?.required" class="invalid-feedback">Email required.</div>
          <div [hidden]="!userEmail.errors?.pattern" class="invalid-feedback">Please enter a valid email.
          </div>
        </div>

        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" [(ngModel)]="password" name="password" #userPassword="ngModel"
            [ngClass]="{'is-invalid' : userPassword.errors && userPassword.touched}" required minlength="6">
          <div [hidden]="!userPassword.errors?.required" class="invalid-feedback">Password required.</div>
          <div [hidden]="!userPassword.errors?.minlength" class="invalid-feedback">Please enter a valid
            password.</div>
        </div>
        <button [disabled]="!userForm.form.valid" type="submit" class="btn woolime-btn-theme btn-block mt-3"
          data-dismiss="modal" (click)="onLoginSubmit()">Sign In</button>
        <br>
      </form>
      <small>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" checked="checked" id="rememberMe">
          <label class="form-check-label" for="rememberMe">
            Keep me signed in
          </label>
        </div>
      </small>
      <p>
        <br>
        <a routerLink="/login/resetpassword">
          <small>Forgot password?</small>
        </a>
        <br>
        <a routerLink="/login/reverify">
          <small>Email not verified?</small>
        </a>
      </p>
    </div>
  </div>
</div>