<app-header></app-header>
<!-- ICON BOXES -->
<section id="icon-boxes" class="p-5">
  <div class="container">
    <h2 class="page-header">My Profile</h2>
    <div class="row mb-4 mt-4">
      <div class="col-md-4">
        <div class="card">
          <a class="img-card" routerLink="/user/yourorders">
            <img src="https://s3.eu-west-3.amazonaws.com/woolime/home/profile/profileCategory_Orders.png" />
          </a>
          <br />
          <div class="card-content">
            <h5 class="card-title">
              <a routerLink="/orders">
                My Orders
              </a>
            </h5>
            <small>
              View and managed past and current orders
            </small>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <a class="img-card" routerLink="/user/address">
            <img src="https://s3.eu-west-3.amazonaws.com/woolime/home/profile/profileCategory_Address.png" />
          </a>
          <br />
          <div class="card-content">
            <h4 class="card-title">
              <a routerLink="/address">
                My address
              </a>
            </h4>
            <small>
              Add, edit or delete your delivery addresses
            </small>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <a class="img-card" routerLink="/user/yourbids">
            <img src="https://s3.eu-west-3.amazonaws.com/woolime/home/profile/profileCategory_BidOffer.png" />
          </a>
          <br />
          <div class="card-content">
            <h4 class="card-title">
              <a routerLink="/bids">
                My Offers
              </a>
            </h4>
            <small>
              View and manage valid offers
            </small>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-md-4">
        <div class="card">
          <a class="img-card" routerLink="/user/editprofile">
            <img src="https://s3.eu-west-3.amazonaws.com/woolime/home/profile/profileCategory_Security.png" />
          </a>
          <br />
          <div class="card-content">
            <h4 class="card-title">
              <a routerLink="/edit-security">
                Profile Information
              </a>
            </h4>
            <small>
              Change password, username, email and more
            </small>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <a class="img-card" routerLink="/user/yourfavourites">
            <img src="https://s3.eu-west-3.amazonaws.com/woolime/home/profile/profileCategory_Favourite.jpg" />
          </a>
          <br />
          <div class="card-content">
            <h4 class="card-title">
              <a routerLink="/favourite">
                My Favourites
              </a>
            </h4>
            <small>
              View and managed tagged favourite products
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>