<app-header></app-header>

<div *ngIf="verified" class="container mt-4">
  <div class="card col-lg-12 col-md-12 col-sm-12 col-xs-12" style="max-width: 500px;">
    <i class="fa fa-check-circle" style="color: green; font-size: 200px; text-align: center;"></i>
    <div class="card-body">
      <p class="card-text" style="text-align: center;">
        <b>Email verified</b>
        <br>
        <span>You can sign in now</span>
      </p>
      <hr>
    </div>
    <button class="btn btn-success mb-2" (click)="onClickNavigate()">Sign In
      <i class="fa fa-arrow-right"></i>
    </button>
  </div>
</div>