<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-left text-md-left">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <small>
                    <h5>Buy</h5>
                    <ul class="list-unstyled quick-links">
                        <li>
                            <a routerLink="/info/getstarted">
                                <i class="fa fa-angle-double-right"></i>Get Started Buying</a>
                        </li>
                        <li>
                            <a routerLink="/info/instruction-buyer">
                                <i class="fa fa-angle-double-right"></i>How to buy</a>
                        </li>
                        <li>
                            <a routerLink="/signup">
                                <i class="fa fa-angle-double-right"></i>Register Account</a>
                        </li>
                        <li>
                            <a routerLink="/login">
                                <i class="fa fa-angle-double-right"></i>Sign In Buyer</a>
                        </li>
                    </ul>
                </small>
            </div>

            <div class="col-xs-12 col-sm-3 col-md-3">
                <small>
                    <h5>Sell</h5>
                    <ul class="list-unstyled quick-links">
                        <li>
                            <a routerLink="/info/getstarted-Business">
                                <i class="fa fa-angle-double-right"></i>Get Started Selling</a>
                        </li>
                        <li>
                            <a routerLink="/info/instruction-seller">
                                <i class="fa fa-angle-double-right"></i>How to sell</a>
                        </li>
                        <li>
                            <a routerLink="/seller-signup">
                                <i class="fa fa-angle-double-right"></i>Register Account</a>
                        </li>
                        <li>
                            <a routerLink="/seller-login">
                                <i class="fa fa-angle-double-right"></i>Sign In Seller</a>
                        </li>
                    </ul>
                </small>
            </div>


            <div class="col-xs-12 col-sm-3 col-md-3">
                <small>
                    <h5>Legal & Help</h5>
                    <ul class="list-unstyled quick-links">
                        <li>
                            <a routerLink="/legal/policies">
                                <i class="fa fa-angle-double-right"></i>Conditions of Use</a>
                        </li>
                        <li>
                            <a routerLink="/legal/useprivacy">
                                <i class="fa fa-angle-double-right"></i>Privacy Notice</a>
                        </li>
                        <li>
                            <a routerLink="/legal/useprivacy">
                                <i class="fa fa-angle-double-right"></i>Cookies Notice</a>
                        </li>
                        <li>
                            <a routerLink="/help/center">
                                <i class="fa fa-angle-double-right"></i>Help</a>
                        </li>
                    </ul>
                </small>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3">
                <small>
                    <h5>Get to Know Us</h5>
                    <ul class="list-unstyled quick-links">
                        <li>
                            <a routerLink="/misc/aboutus">
                                <i class="fa fa-angle-double-right"></i>About Iyokus</a>
                        </li>
                        <li>
                            <a routerLink="/help/center">
                                <i class="fa fa-angle-double-right"></i>Help</a>
                        </li>

                        <li>
                            <a routerLink="/misc/faq">
                                <i class="fa fa-angle-double-right"></i>FAQ</a>
                        </li>
                        <li>
                            <a routerLink="/misc/contactus">
                                <i class="fa fa-angle-double-right"></i>Contact Us</a>
                        </li>
                        <li>
                            <a routerLink="/misc/jobs">
                                <i class="fa fa-angle-double-right"></i>Careers</a>
                        </li>
                    </ul>
                </small>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item">
                        <a href="javascript:void(0);"
                            (click)="onClickNavigate('https://www.facebook.com/Iyokus-1829148173798391')">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript:void(0);" (click)="onClickNavigate('https://twitter.com/IyokusC')">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="javascript:void(0);" (click)="onClickNavigate('https://www.instagram.com/iyokus_uk')">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p>
                    <small>
                        Iyokus LTD <i>(Nr: 11871216)</i><br>
                        London<br>
                        <!--
                        71-75 Shelton Street<br>
                        WC2H 9JQ, London
                        -->
                    </small>
                </p>
                <p class="h6">
                    <small>
                        Copyright {{year}} &copy;<a class="text-green ml-2" href="/" target="_blank">Iyokus LTD</a>
                    </small>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- ./Footer -->