.container{max-width:1170px; margin:auto;}
img{ max-width:100%;}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 100%;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:100%;}

.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}


.chat_ib h5{ font-size:13px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:10px; float:right;}
.chat_ib p{ font-size:13px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 8%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 550px; overflow-y: scroll;}

.active_chat{ background:#ebebeb;}


.messaging { 
  padding: 0 0 50px 0;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}


.circle {
  background-color:red;
  border:1px solid red;    
  height:10px;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  width:10px;
  display:inline-block;
  margin-right: 5px;
}