<app-header></app-header>

<body>
  <div class="container" style="margin-bottom: 200px;">
    <h2>Frequently Asked Questions</h2>
    <div class="row">
      <div class="col-md-3">
        <ul class="list-group help-group">
          <div class="faq-list list-group nav nav-tabs">
            <a href="#general" class="list-group-item active" role="tab" data-toggle="tab">General</a>
            <a href="#product" class="list-group-item" role="tab" data-toggle="tab">Products</a>
            <a href="#buying" class="list-group-item" role="tab" data-toggle="tab">Buying</a>
            <a href="#Paying" class="list-group-item" role="tab" data-toggle="tab">Paying</a>
            <a href="#shipping" class="list-group-item" role="tab" data-toggle="tab">Shipping</a>
            <a href="#return" class="list-group-item" role="tab" data-toggle="tab">Returns</a>
          </div>
        </ul>
      </div>
      <div class="col-md-9">
        <div class="tab-content panels-faq">
          <div class="tab-pane active" id="general">
            <div class="panel-group" id="help-accordion-1">
              <div class="panel panel-default panel-help">
                <a href="#Q11" data-toggle="collapse" data-parent="#help-accordion-1">
                  <div class="panel-heading">
                    <h2>What is Iyokus?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q11" class="collapse in">
                  <div class="panel-body">
                    <p>Iyokus is an e-commerce platform that connects buyer and seller at the best price of mutual
                      satisfaction.
                      It gives the buyers the pricing initiative and provides the mean to express their willingness to
                      pay
                      to the seller in the form of a bid price for an instantaneous feedback.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default panel-help">
                <a href="#Q12" data-toggle="collapse" data-parent="#help-accordion-1">
                  <div class="panel-heading">
                    <h2>What makes Iyokus different from other e-commerce platforms?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q12" class="collapse">
                  <div class="panel-body">
                    <p>We proudly distinguish ourselves from most of other e-commerce sites, where users must decide
                      whether
                      to pay a list price in order to purchase the product they want, by giving them the additional
                      opportunity of bidding their own price. We are also different from e-commerce sites operating an
                      auction
                      model in that we do not pitch buyers' bids against each other.</p>
                    <p>In other words, we enable a buyer to bid a price of his or her liking for a product that he or
                      she wants
                      to purchase in addition to the usual possibility of purchasing it at list price. Unlike a rigid or
                      fixed pricing system, our pricing model benefits both sellers, as they gain access to more willing
                      buyers, and buyers, as they gain more pricing power and initiative as well as the chance of
                      getting
                      a better price.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default panel-help">
                <a href="#Q121" data-toggle="collapse" data-parent="#help-accordion-1">
                  <div class="panel-heading">
                    <h2>In which countries Iyokus operates?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q121" class="collapse">
                  <div class="panel-body">
                    <p>Currently Iyokus.com only operates and delivers within the United Kingdom.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default panel-help">
                <a href="#Q13" data-toggle="collapse" data-parent="#help-accordion-1">
                  <div class="panel-heading">
                    <h2>How do I get started?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q13" class="collapse">
                  <div class="panel-body">
                    <p>To begin shopping on Iyokus, you simply need to
                      <a routerLink="/signup">Register</a> with us and verify your email address.
                    </p>
                    <p>For additional information, please visit
                      <a routerLink="/info/getstarted">How to buy with Iyokus</a>.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default panel-help">
                <a href="#Q14" data-toggle="collapse" data-parent="#help-accordion-1">
                  <div class="panel-heading">
                    <h2>How and what do I need to register?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q14" class="collapse">
                  <div class="panel-body">
                    <p>To register with us go to our
                      <a routerLink="/signup">Sign Up</a> page.</p>
                    <p>You will need to provide your name, email address and a password in addition to accepting
                      our standard
                      <a routerLink="/legal/useprivacy">Term and conditions of use and privacy</a>. Once registered, we
                      will send you an email to verify your email address before you
                      can login. No payment details such as credit/debit card information or address will be required
                      from
                      you.
                    </p>

                  </div>
                </div>
              </div>
              <div class="panel panel-default panel-help">
                <a href="#Q15" data-toggle="collapse" data-parent="#help-accordion-1">
                  <div class="panel-heading">
                    <h2>What are the conditions that I need to accept to use Iyokus?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q15" class="collapse">
                  <div class="panel-body">
                    <p>To ensure a safe and proper use of the website, our conditions of sale, use and privacy are to be
                      accepted before using Iyokus.com.
                      <br><br>
                      See <a routerLink="/legal/useprivacy">Privacy & Cookies Notices </a> and <a
                        routerLink="/legal/policies">Conditions of Use & Sale</a>.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default panel-help">
                <a href="#Q16" data-toggle="collapse" data-parent="#help-accordion-1">
                  <div class="panel-heading">
                    <h2>How is Iyokus handling personal data?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q16" class="collapse">
                  <div class="panel-body">
                    <p>
                      <b>We do not, under any circumstances, share your personal and private information with any
                        third party or affiliate retailers ("Sellers") other than the minimum necessary to provide our
                        services,
                        e.g. give your name and address to our sellers in order to complete the order delivery.</b>
                    </p>
                    <p>We are fully compliance with the EU General Data Protection Regulation (GDPR) to safeguard your
                      personal
                      data. Privacy, confidentiality and trust are already integral to our business and we believe the
                      intention
                      of the GDPR to ensure transparency, fairness and an increased confidence in the security of
                      individuals'
                      data.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="product">
            <div class="panel-group" id="help-accordion-2">
              <div class="panel panel-default panel-help">
                <a href="#Q21" data-toggle="collapse" data-parent="#help-accordion-2">
                  <div class="panel-heading">
                    <h2>What products can I find in Iyokus?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q21" class="collapse in">
                  <div class="panel-body">
                    <p>You can find a wide range of products offered on Iyokus from eletronics to clothings from both
                      domestic and international suppliers.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default panel-help">
                <a href="#Q22" data-toggle="collapse" data-parent="#help-accordion-2">
                  <div class="panel-heading">
                    <h2>Are the products offered on Iyokus new or used?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q22" class="collapse in">
                  <div class="panel-body">
                    <p>The products sold on Iyokus could be both new and used. The condition of the products is clearly
                      indicated on each product's page.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default panel-help">
                <a href="#Q23" data-toggle="collapse" data-parent="#help-accordion-2">
                  <div class="panel-heading">
                    <h2>Are the products sold by Iyokus or by third party retailers?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q23" class="collapse in">
                  <div class="panel-body">
                    <p>Both, we not only allow verified retairers to sell on our platform, we also engage in directly
                      supplying a varieties of products particularly from international suppliers.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default panel-help">
                <a href="#Q24" data-toggle="collapse" data-parent="#help-accordion-2">
                  <div class="panel-heading">
                    <h2>Who are these third-party retailers and how are they qualified?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q24" class="collapse in">
                  <div class="panel-body">
                    <p> Affiliate retailers ("Sellers") operating on Iyokus are small to medium size companies that are
                      approved
                      by our strict and comprehensive review system to ensure the highest product quality, delivery and
                      customer services.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="buying">
            <div class="panel-group" id="help-accordion-3">
              <div class="panel panel-default panel-help">
                <a href="#Q31" data-toggle="collapse" data-parent="#help-accordion-3">
                  <div class="panel-heading">
                    <h2>How can I buy on Iyokus?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q31" class="collapse in">
                  <div class="panel-body">
                    <p>
                      <a routerLink="/signup">Sign up</a> and following 4 simple steps:
                      <br>
                      <br>(1) Find product you want to buy
                      <br>(2) Decide the price you are willing to pay and submit your bid
                      <br>(3) Decide on any potential counter-offer
                      <br>(4) Choose delivery method and pay</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default panel-help">
                <a href="#Q32" data-toggle="collapse" data-parent="#help-accordion-3">
                  <div class="panel-heading">
                    <h2>How can I bid my own price?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q32" class="collapse in">
                  <div class="panel-body">
                    <p>Simply choose the quantity of the product you want to purchase, enter a bid price per unit and
                      confirm
                      your bid. You will receive feedback or a counter-offer within second.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default panel-help">
                <a href="#Q33" data-toggle="collapse" data-parent="#help-accordion-3">
                  <div class="panel-heading">
                    <h2>If I am already satisfied with the list price, can I simply buy it without bidding?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q33" class="collapse in">
                  <div class="panel-body">
                    <p>Yes, you can always purchase a product by paying the list price. Bidding your price is an
                      additional
                      and optional opportunity Iyokus offers.</p>
                  </div>
                </div>
              </div>

              <h5 class="mt-5">Iyokus Bidding System</h5>
              <div class="panel panel-default panel-help">
                <a href="#Q34" data-toggle="collapse" data-parent="#help-accordion-3">
                  <div class="panel-heading">
                    <h2>How does the Iyokus Bidding System work?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q34" class="collapse in">
                  <div class="panel-body">
                    <p>Iyokus operates what we call a
                      <b>"Two-Stage Bidding System"</b>.</p>
                    <p>In
                      <b>stage one</b> you bid your price and one of the following can happen:
                      <br>(1) Your bid is accepted and you can proceed to payment
                      <br>(2) Your bid is rejected
                      <br>(3) You receive a counter-offer
                    </p>
                    <p>
                      If you receive a counter-offer (3), then you enter the
                      <b>stage two</b> of the system and one of the following can happen:
                      <br>(4) You accept the counter-offer and you can proceed to payment
                      <br>(5) You reject the counter-offer and bid failed
                    </p>
                    <p>
                      <small>
                        <b>If your bid is accepted (1) or if you accept the counter-offer (4), you will have 24 hours
                          (meanwhile
                          offer remains subject to availability) to complete the payment otherwise the offer will become
                          invalid.</b>
                      </small>
                    </p>
                    <p>
                      <small>
                        <b>If your bid is rejected (2) or if you reject the counter-offer (5), you will enter a
                          "lock-out period"
                          during which you will not able to bid again for the product. But remember you can always pay
                          the
                          list price to purchase the product.</b>
                      </small>
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default panel-help">
                <a href="#Q35" data-toggle="collapse" data-parent="#help-accordion-3">
                  <div class="panel-heading">
                    <h2>What price should I bid?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q35" class="collapse in">
                  <div class="panel-body">
                    <p>We highly recommend you bid the price that you truly value the product you want to purchase. You
                      should
                      always consider the following principles when you bidding a price:
                      <br>
                      <br>(1) Bid a price below list price, obviously
                      <br>(2) If you bid above your true price you may regret paying too much
                      <br>(3) If you bid below your true price you may not able to purchase the product and enter a
                      lock-out
                      period, during the which the product could run out of stock
                      <br>(4) Only if you bid truthfully you will be buying without regret. Since if your bid is
                      accepted you
                      will be paying exactly the amount you are willing to buy and if your bid is rejected at least you
                      will
                      not have to over pay.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default panel-help">
                <a href="#Q36" data-toggle="collapse" data-parent="#help-accordion-3">
                  <div class="panel-heading">
                    <h2>When I place a bid, am I committing to buy the product?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q36" class="collapse in">
                  <div class="panel-body">
                    <p>No, whether your bid is accepted or if you accept the counter offer, in neither case you are
                      committed
                      to pay for the product. However, you will have only 24 hours to complete the payment otherwise the
                      offer will expire and you will enter automatically into a lock out period, during which you will
                      not
                      able to bid again for the same product.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default panel-help">
                <a href="#Q37" data-toggle="collapse" data-parent="#help-accordion-3">
                  <div class="panel-heading">
                    <h2>How long do I have to wait before I know whether the bid is accepted or not?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q37" class="collapse in">
                  <div class="panel-body">
                    <p>Almost instantaneously, within seconds you will receive an answer from our pricing algorithm and
                      know
                      whether your bid is accepted, rejected or countered.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default panel-help">
                <a href="#Q381" data-toggle="collapse" data-parent="#help-accordion-3">
                  <div class="panel-heading">
                    <h2>Is the same bid always accepted or rejected?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q381" class="collapse in">
                  <div class="panel-body">
                    <p>No, same bid for the same product may receive different outcomes. Our pricing system takes into
                      consideration
                      a variety of factors (i.e. inventory, demand, etc.) therefore outcome may be different for
                      different users even when bidding the same
                      price for the same product. Offers and counter offers may vary across time and users.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default panel-help">
                <a href="#Q38" data-toggle="collapse" data-parent="#help-accordion-3">
                  <div class="panel-heading">
                    <h2>What happen if my bid is accepted?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q38" class="collapse in">
                  <div class="panel-body">
                    <p>If your bid price is accepted you can proceed to payment at the accepted price. You can find all
                      your
                      valid offer
                      <a routerLink="/user/yourbids">here</a>.
                    </p>
                    <p>
                      <b>Remember any offer is valid only for 24 hours or until product runs out of stock.</b>
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default panel-help">
                <a href="#Q39" data-toggle="collapse" data-parent="#help-accordion-3">
                  <div class="panel-heading">
                    <h2>What happen if my bid is rejected?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q39" class="collapse in">
                  <div class="panel-body">
                    <p>Your will enter a lock-out period, during which you will not be allowed to bid again for the same
                      product.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default panel-help">
                <a href="#Q310" data-toggle="collapse" data-parent="#help-accordion-3">
                  <div class="panel-heading">
                    <h2>What is a counter-offer?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q310" class="collapse in">
                  <div class="panel-body">
                    <p>A counter offer is a system generated alternative price offer to your initial bid. A
                      counter
                      offer is generated if the system decides that your bid too low but consider your willingness to
                      pay
                      not too far away from a price of mutual satisfaction.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default panel-help">
                <a href="#Q311" data-toggle="collapse" data-parent="#help-accordion-3">
                  <div class="panel-heading">
                    <h2>Will I always receive a counter-offer?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q311" class="collapse in">
                  <div class="panel-body">
                    <p>No, system does not always generate a counter offer. Your bid could be rejected without a counter
                      offer
                      if it is too far away from a price that the seller is willing to accept.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default panel-help">
                <a href="#Q3112" data-toggle="collapse" data-parent="#help-accordion-3">
                  <div class="panel-heading">
                    <h2>Will everyone receive the same counter-offer if they bid the same price?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q3112" class="collapse in">
                  <div class="panel-body">
                    <p>No, many factors are taken into account when generating counter-offers, therefore, these may be
                      different across time and users even for the same bid and same product.</p>>
                  </div>
                </div>
              </div>
              <div class="panel panel-default panel-help">
                <a href="#Q312" data-toggle="collapse" data-parent="#help-accordion-3">
                  <div class="panel-heading">
                    <h2>What happen if I accept the counteroffer?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q312" class="collapse in">
                  <div class="panel-body">
                    <p>If you accept the counter offer you can proceed to payment at the accepted price. You can find
                      all your
                      valid offers
                      <a routerLink="/user/yourbids">here</a>.
                    </p>
                    <p>
                      <b>Remember any offer is valid only for 24 hours or until product runs out of stock.</b>
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default panel-help">
                <a href="#Q313" data-toggle="collapse" data-parent="#help-accordion-3">
                  <div class="panel-heading">
                    <h2>What happen if I reject the counter offer?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q313" class="collapse in">
                  <div class="panel-body">
                    <p>Your will enter a lock-out period, during which you will not be allowed to bid again for the same
                      product.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default panel-help">
                <a href="#Q314" data-toggle="collapse" data-parent="#help-accordion-3">
                  <div class="panel-heading">
                    <h2>What is a lock-out period?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q314" class="collapse in">
                  <div class="panel-body">
                    <p>A period after which your bid failed and during which you will not be allowed to bid again for
                      the same
                      product. Can vary across products.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default panel-help">
                <a href="#Q315" data-toggle="collapse" data-parent="#help-accordion-3">
                  <div class="panel-heading">
                    <h2>What is the duration of the lock-out period?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q315" class="collapse in">
                  <div class="panel-body">
                    <p>A lock out period duration is decided by the seller of the specific product. It could be from
                      days to
                      indefinite. You will be warned and notified of the duration of the lock-out period before you
                      submit
                      your bid.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default panel-help">
                <a href="#Q316" data-toggle="collapse" data-parent="#help-accordion-3">
                  <div class="panel-heading">
                    <h2>Can I still buy the product if I am in a lock-out period?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q316" class="collapse in">
                  <div class="panel-body">
                    <p>Yes, remember you can always pay list price to purchase the product even during a lock out
                      period.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default panel-help">
                <a href="#Q317" data-toggle="collapse" data-parent="#help-accordion-3">
                  <div class="panel-heading">
                    <h2>When can I bid again for a product if my bid failed?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q317" class="collapse in">
                  <div class="panel-body">
                    <p>After the lock-out period expires.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane" id="Paying">
            <div class="panel-group" id="help-accordion-4">
              <div class="panel panel-default panel-help">
                <a href="#Q41" data-toggle="collapse" data-parent="#help-accordion-4">
                  <div class="panel-heading">
                    <h2>What payment type does Iyokus accept?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q41" class="collapse in">
                  <div class="panel-body">
                    <p>At the moment, we only accept credit and debit cards.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default panel-help">
                <a href="#Q42" data-toggle="collapse" data-parent="#help-accordion-4">
                  <div class="panel-heading">
                    <h2>Are payments made through Iyokus secured?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q42" class="collapse in">
                  <div class="panel-body">
                    <p>Yes, Iyokus uses secured third party systems/gateways (i.e. Stripe) for credit/debit card payment
                      processing. All paymemt processing information are SSL protected and encrypted.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default panel-help">
                <a href="#Q43" data-toggle="collapse" data-parent="#help-accordion-4">
                  <div class="panel-heading">
                    <h2>Does Iyokus store payment information?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q43" class="collapse in">
                  <div class="panel-body">
                    <p>No, we do not stored your payment information in our systems or databases. However, you do have
                      the optional
                      possibility of storing your credit/debit card information with Stripe, our payment processing
                      partner,
                      for faster and simpler future payments.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default panel-help">
                <a href="#Q44" data-toggle="collapse" data-parent="#help-accordion-4">
                  <div class="panel-heading">
                    <h2>Do I pay any fees for the use of credit or debit card?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q44" class="collapse in">
                  <div class="panel-body">
                    <p>No, our retailers bear the cost of processing payment.</p>>
                  </div>
                </div>
              </div>
              <div class="panel panel-default panel-help">
                <a href="#Q45" data-toggle="collapse" data-parent="#help-accordion-4">
                  <div class="panel-heading">
                    <h2>Will I get confirmation upon payment completion?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q45" class="collapse in">
                  <div class="panel-body">
                    <p>Yes, you will receive an email confirmation and receipt for your purchase after completing the
                      payment.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default panel-help">
                <a href="#Q46" data-toggle="collapse" data-parent="#help-accordion-4">
                  <div class="panel-heading">
                    <h2>What are Iyokus' refund policies?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q46" class="collapse in">
                  <div class="panel-body">
                    <p>You have 14 days since the moment you receive the item to request a refund if the item is new and
                      24 hours in case of used items.
                      <br>
                      <br>
                      Please note that the amount paid will be only refunded in full if the item is returned in the
                      exact condition
                      as it was originally delivered. The refund will take place within 2 to 4 days from the moment the
                      seller confirms the reception of the item.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="shipping">
            <div class="panel-group" id="help-accordion-5">
              <div class="panel panel-default panel-help">
                <a href="#Q51" data-toggle="collapse" data-parent="#help-accordion-5">
                  <div class="panel-heading">
                    <h2>Does Iyokus handle delivery?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q51" class="collapse in">
                  <div class="panel-body">
                    <p>We do not directly handle logistic and order fulfilment. Our retailers are responsible to
                      dispatch
                      and engage with parcel services to ensure timely delivery of purchase orders. However, we do
                      work
                      and support our retailers to achieve the above.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default panel-help">
                <a href="#Q52" data-toggle="collapse" data-parent="#help-accordion-5">
                  <div class="panel-heading">
                    <h2>Do I have to pay for delivery?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q52" class="collapse in">
                  <div class="panel-body">
                    <p>Yes, to use the postal delivery service, you will have to cover the shipment costs. Shipment
                      costs are visible in the description of all our products offerings . <br><br>
                      In case of Meetup Delivery, there will be no delivery costs.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default panel-help">
                <a href="#Q521" data-toggle="collapse" data-parent="#help-accordion-5">
                  <div class="panel-heading">
                    <h2>To where do you deliver?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q521" class="collapse in">
                  <div class="panel-body">
                    <p>Iyokus only accepts deliveries within United Kingdom.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default panel-help">
                <a href="#Q53" data-toggle="collapse" data-parent="#help-accordion-5">
                  <div class="panel-heading">
                    <h2>How long does it take for the retailer to dispatch the order?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q53" class="collapse in">
                  <div class="panel-body">
                    <p>Our sellers are committed to dispatch your order within 2 working days.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default panel-help">
                <a href="#Q54" data-toggle="collapse" data-parent="#help-accordion-5">
                  <div class="panel-heading">
                    <h2>Will I get notified when the order is dispatched?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q54" class="collapse in">
                  <div class="panel-body">
                    <p>Yes, you will receive an email notification as soon as our retailer has dispatched your order.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default panel-help">
                <a href="#Q55" data-toggle="collapse" data-parent="#help-accordion-5">
                  <div class="panel-heading">
                    <h2>When will I receive my order?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q55" class="collapse in">
                  <div class="panel-body">
                    <p>It depends. Domestic products/retailers can deliver within 3 to 4 working days.
                      <br>
                      <br>
                      However, international products/retailers can take from 3 to 5 weeks to deliver.
                      <br>
                      <br>
                      You'll be clearly notified of the expected delivery time before check out.
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default panel-help">
                <a href="#Q56" data-toggle="collapse" data-parent="#help-accordion-5">
                  <div class="panel-heading">
                    <h2>Is there an option for express delivery?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q56" class="collapse in">
                  <div class="panel-body">
                    <p>No, currently we do not have an express delivery service. However, it will become available as
                      our logistic
                      network expands.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="return">
            <div class="panel-group" id="help-accordion-6">
              <div class="panel panel-default panel-help">
                <a href="#Q61" data-toggle="collapse" data-parent="#help-accordion-6">
                  <div class="panel-heading">
                    <h2>Can I return my order?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q61" class="collapse in">
                  <div class="panel-body">
                    <p>Yes, returns and refunds are accepted. The return period is 14 days for new products and 24 hours
                      for used products upon receiving.
                      You can request a refund within "My Orders" section in your Iyokus profile.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default panel-help">
                <a href="#Q62" data-toggle="collapse" data-parent="#help-accordion-6">
                  <div class="panel-heading">
                    <h2>What are the requirements to return an item?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q62" class="collapse in">
                  <div class="panel-body">
                    <p>Generally, in order for the return to be accepted, conditions are the following:
                      <br>(1) The product is undamaged
                      <br>(2) It is in its original packaging
                      <br>(3) Include all its original accessories (e.g. charger, instruction books, etc.)
                    </p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default panel-help">
                <a href="#Q63" data-toggle="collapse" data-parent="#help-accordion-6">
                  <div class="panel-heading">
                    <h2>Where do I send the order back?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q63" class="collapse in">
                  <div class="panel-body">
                    <p>You will be provided with return reference and sending address together with your order.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default panel-help">
                <a href="#Q64" data-toggle="collapse" data-parent="#help-accordion-6">
                  <div class="panel-heading">
                    <h2>Who pay the return shipping costs?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q64" class="collapse in">
                  <div class="panel-body">
                    <p>Return costs are charged to the buyer of the item.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default panel-help">
                <a href="#Q65" data-toggle="collapse" data-parent="#help-accordion-6">
                  <div class="panel-heading">
                    <h2>When will I receive my refund?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q65" class="collapse in">
                  <div class="panel-body">
                    <p>Once the seller receives the item back, you will get the refund directly to your card within 2
                      to 5 working days.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default panel-help">
                <a href="#Q66" data-toggle="collapse" data-parent="#help-accordion-6">
                  <div class="panel-heading">
                    <h2>What if the seller does not accept the return?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q66" class="collapse in">
                  <div class="panel-body">
                    <p>You can raise a claim and we will look into the case and take the necessary actions to ensure the
                      case is settled in a satisfactory manner.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default panel-help">
                <a href="#Q67" data-toggle="collapse" data-parent="#help-accordion-6">
                  <div class="panel-heading">
                    <h2>Where and to who can I raise a claim?
                      <i class="fa fa-plus pull-right"></i>
                    </h2>
                  </div>
                </a>
                <div id="Q67" class="collapse in">
                  <div class="panel-body">
                    <p>You can raise a claim directly in the "My Orders" section and we'll follow up with you as soon as possible.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<app-footer></app-footer>